<mat-card class="news-article">
  <mat-card-header>
    <mat-card-title>{{article.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{article.description}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="react(article, $event)" matBadge={{article.likes}} matBadgeSize="small" id="like">
      <mat-icon color="primary">thumb_up</mat-icon>
    </button>
    <button mat-raised-button (click)="react(article, $event)" matBadge={{article.dislikes}} matBadgeSize="small" id="dislike">
      <mat-icon color="warn">thumb_down</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-card-subtitle class="ml-md-3">{{article.date}}</mat-card-subtitle>
  </mat-card-footer>
</mat-card>