
.home {
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
}
.my-card {
  background-color: #E8C400;
  border: 1px solid purple;
}

@media only screen and (max-width: 1400px)
{
  .home {
    width: 100%;
    margin-top: 0;
  }
}