<mat-card>
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
    <mat-card-subtitle>Sign up now to start connecting!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-vertical-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>What do you want us to call you?</ng-template>
          <mat-form-field>
            <input matInput [(ngModel)]="username" placeholder="Username" formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>What is your e-mail?</ng-template>
          <mat-form-field>
            <input matInput [(ngModel)]="email" placeholder="E-Mail Address" formControlName="secondCtrl" [type]="email" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="passwordGroup">
        <form [formGroup]="passwordGroup">
          <ng-template matStepLabel>Enter a password</ng-template>
          <mat-form-field>
            <input matInput [(ngModel)]="password" placeholder="Password" formControlName="thirdCtrl" type="password" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Confirm</ng-template>
        
        <mat-list *ngIf="!loading">
          <mat-list-item>Your Username: {{username}}</mat-list-item>
          <mat-list-item>Your E-Mail: {{email}}</mat-list-item>
        </mat-list>
        <mat-spinner *ngIf="loading"></mat-spinner>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="register()">Confirm</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
  
  
</mat-card>